.services-provided{
    padding: 2rem 3rem;
.title{
    text-align: center;
    color: rgb(73, 73, 73);
    }
.services{
padding: 2rem 3rem;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
gap: 2rem;
justify-content: flex-start;
.projects{
p{
    font-size: 14px;
    padding-top: 1rem;
}
h3{
    font-size: 16px;
    }
}
}
}
@media(max-width:360px){
    .services-provided{
        padding: 2rem 1rem;
    .title{
        text-align: center;
        font-size: 15px;
    }
    .services{
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
    justify-content: flex-start;
    .projects{
    p{
        font-size: 14px;
        padding-top: 1rem;
    }
    h3{
        font-size: 14px;
        text-align: center;
        }
    }
    }
    }    
}